{:index 208, :time 19221451000, :type :invoke, :process 0, :f :read, :value nil}
{:index 209, :time 19564234834, :type :invoke, :process 1, :f :read, :value nil}
{:index 210, :time 19565916709, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 211, :time 19926370042, :type :invoke, :process 1, :f :read, :value nil}
{:index 212, :time 19927641209, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 213, :time 20179495250, :type :invoke, :process 8, :f :cas, :value [3 2]}
{:index 214, :time 20185684792, :type :fail, :process 8, :f :cas, :value [3 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 215, :time 20223569250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 216, :time 20395570875, :type :invoke, :process 9, :f :cas, :value [0 3]}
{:index 217, :time 20396911459, :type :fail, :process 9, :f :cas, :value [0 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 218, :time 20615635625, :type :invoke, :process 115, :f :write, :value 4}
{:index 219, :time 20903940875, :type :invoke, :process 6, :f :cas, :value [0 3]}
{:index 220, :time 20907762709, :type :fail, :process 6, :f :cas, :value [0 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 221, :time 20936784250, :type :invoke, :process 6, :f :cas, :value [3 4]}
{:index 222, :time 20938008625, :type :fail, :process 6, :f :cas, :value [3 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 223, :time 21271492875, :type :invoke, :process 2, :f :read, :value nil}
{:index 224, :time 21273734084, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 225, :time 21303950500, :type :invoke, :process 3, :f :read, :value nil}
{:index 226, :time 21305270875, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 227, :time 21400581375, :type :invoke, :process 4, :f :read, :value nil}
{:index 228, :time 21401774000, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 229, :time 21485540792, :type :invoke, :process 0, :f :read, :value nil}
{:index 230, :time 21553733834, :type :invoke, :process 1, :f :read, :value nil}
{:index 231, :time 21555046667, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 232, :time 21618382750, :type :info, :process 115, :f :write, :value 4, :error :net-timeout}
{:index 233, :time 21775613167, :type :invoke, :process 1, :f :read, :value nil}
{:index 234, :time 21776947500, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 235, :time 22002639042, :type :invoke, :process 8, :f :cas, :value [1 2]}
{:index 236, :time 22004052625, :type :fail, :process 8, :f :cas, :value [1 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 237, :time 22081669625, :type :invoke, :process 9, :f :write, :value 4}
{:index 238, :time 22083096459, :type :fail, :process 9, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 239, :time 22220617417, :type :invoke, :process 125, :f :cas, :value [0 2]}
{:index 240, :time 22487961334, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 241, :time 22559531959, :type :invoke, :process 0, :f :read, :value nil}
{:index 242, :time 22901315459, :type :invoke, :process 6, :f :write, :value 3}
{:index 243, :time 22902630334, :type :fail, :process 6, :f :write, :value 3, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 244, :time 23193941417, :type :invoke, :process 6, :f :cas, :value [3 0]}
{:index 245, :time 23195237625, :type :fail, :process 6, :f :cas, :value [3 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 246, :time 23220842709, :type :info, :process 125, :f :cas, :value [0 2], :error :net-timeout}
{:index 247, :time 23237448042, :type :invoke, :process 135, :f :cas, :value [3 4]}
{:index 248, :time 23260191417, :type :invoke, :process 6, :f :cas, :value [1 0]}
{:index 249, :time 23261344084, :type :fail, :process 6, :f :cas, :value [1 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 250, :time 23327420209, :type :invoke, :process 1, :f :read, :value nil}
{:index 251, :time 23328580959, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 252, :time 23475111834, :type :invoke, :process 6, :f :cas, :value [2 3]}
{:index 253, :time 23477099417, :type :fail, :process 6, :f :cas, :value [2 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 254, :time 23564526750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 255, :time 23742493834, :type :invoke, :process 0, :f :read, :value nil}
{:index 256, :time 23871652917, :type :invoke, :process 8, :f :cas, :value [0 4]}
{:index 257, :time 23873230042, :type :fail, :process 8, :f :cas, :value [0 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 258, :time 24109601875, :type :invoke, :process 1, :f :read, :value nil}
{:index 259, :time 24111700917, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 260, :time 24241655792, :type :info, :process 135, :f :cas, :value [3 4], :error :net-timeout}
{:index 261, :time 24406651417, :type :invoke, :process 1, :f :read, :value nil}
{:index 262, :time 24407954584, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 263, :time 24688132250, :type :invoke, :process 1, :f :read, :value nil}
{:index 264, :time 24689415167, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 265, :time 24747331167, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 266, :time 24911845750, :type :invoke, :process 145, :f :cas, :value [0 4]}
{:index 267, :time 25055892375, :type :invoke, :process 2, :f :read, :value nil}
{:index 268, :time 25057099917, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 269, :time 25092675084, :type :invoke, :process 3, :f :read, :value nil}
{:index 270, :time 25093697834, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 271, :time 25127121334, :type :invoke, :process 6, :f :cas, :value [3 3]}
{:index 272, :time 25128076375, :type :fail, :process 6, :f :cas, :value [3 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 273, :time 25267464750, :type :invoke, :process 0, :f :read, :value nil}
{:index 274, :time 25509469875, :type :invoke, :process 6, :f :write, :value 1}
{:index 275, :time 25510817167, :type :fail, :process 6, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 276, :time 25636438459, :type :invoke, :process 7, :f :write, :value 4}
{:index 277, :time 25638127792, :type :fail, :process 7, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 278, :time 25863622834, :type :invoke, :process 1, :f :read, :value nil}
{:index 279, :time 25865119667, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 280, :time 25914342875, :type :info, :process 145, :f :cas, :value [0 4], :error :net-timeout}
{:index 281, :time 26107882667, :type :invoke, :process 1, :f :read, :value nil}
{:index 282, :time 26109180750, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 283, :time 26269267750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 284, :time 26338804750, :type :invoke, :process 155, :f :cas, :value [2 4]}
{:index 285, :time 26519659292, :type :invoke, :process 0, :f :read, :value nil}
{:index 286, :time 26883309417, :type :invoke, :process 1, :f :read, :value nil}
{:index 287, :time 26885367834, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 288, :time 27103597584, :type :invoke, :process 6, :f :cas, :value [3 3]}
{:index 289, :time 27104835209, :type :fail, :process 6, :f :cas, :value [3 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 290, :time 27340153209, :type :info, :process 155, :f :cas, :value [2 4], :error :net-timeout}
{:index 291, :time 27446721084, :type :invoke, :process 3, :f :read, :value nil}
{:index 292, :time 27448617959, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 293, :time 27521829167, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 294, :time 27728215834, :type :invoke, :process 4, :f :read, :value nil}
{:index 295, :time 27729639750, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 296, :time 27796205334, :type :invoke, :process 165, :f :write, :value 0}
{:index 297, :time 27947623250, :type :invoke, :process 0, :f :read, :value nil}
{:index 298, :time 28085531292, :type :invoke, :process 7, :f :cas, :value [2 4]}
{:index 299, :time 28087090125, :type :fail, :process 7, :f :cas, :value [2 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 300, :time 28105706167, :type :invoke, :process 1, :f :read, :value nil}
{:index 301, :time 28107063750, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 302, :time 28267552917, :type :invoke, :process 1, :f :read, :value nil}
{:index 303, :time 28268997292, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 304, :time 28462377084, :type :invoke, :process 6, :f :cas, :value [3 1]}
{:index 305, :time 28463814000, :type :fail, :process 6, :f :cas, :value [3 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 306, :time 28609399625, :type :invoke, :process 1, :f :read, :value nil}
{:index 307, :time 28610652709, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 308, :time 28798720875, :type :info, :process 165, :f :write, :value 0, :error :net-timeout}
{:index 309, :time 28823505250, :type :invoke, :process 1, :f :read, :value nil}
{:index 310, :time 28824777167, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 311, :time 28947740042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 312, :time 29082126709, :type :invoke, :process 2, :f :read, :value nil}
{:index 313, :time 29083222667, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 314, :time 29203309625, :type :invoke, :process 3, :f :read, :value nil}
{:index 315, :time 29204713625, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 316, :time 29595112875, :type :invoke, :process 4, :f :read, :value nil}
{:index 317, :time 29596594125, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 318, :time 29613013084, :type :invoke, :process 175, :f :cas, :value [1 4]}
{:index 319, :time 29641482000, :type :invoke, :process 0, :f :read, :value nil}
{:index 320, :time 29846440000, :type :invoke, :process 1, :f :read, :value nil}
{:index 321, :time 29847773875, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 322, :time 30238166042, :type :invoke, :process 1, :f :read, :value nil}
{:index 323, :time 30239687209, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 324, :time 30618061042, :type :info, :process 175, :f :cas, :value [1 4], :error :net-timeout}
{:index 325, :time 30625902834, :type :invoke, :process 1, :f :read, :value nil}
{:index 326, :time 30626925584, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 327, :time 30646393792, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 328, :time 31011089625, :type :invoke, :process 185, :f :cas, :value [3 3]}
{:index 329, :time 31384561917, :type :invoke, :process 0, :f :read, :value nil}
{:index 330, :time 31588428959, :type :invoke, :process 1, :f :read, :value nil}
{:index 331, :time 31589809792, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 332, :time 31852919250, :type :invoke, :process 2, :f :read, :value nil}
{:index 333, :time 31875771875, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 334, :time 32014930042, :type :info, :process 185, :f :cas, :value [3 3], :error :net-timeout}
{:index 335, :time 32072088709, :type :invoke, :process 3, :f :read, :value nil}
{:index 336, :time 32073612125, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 337, :time 32339540917, :type :invoke, :process 4, :f :read, :value nil}
{:index 338, :time 32340670167, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 339, :time 32387102375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 340, :time 32489899917, :type :invoke, :process 195, :f :cas, :value [3 1]}
{:index 341, :time 32758942667, :type :invoke, :process 6, :f :write, :value 1}
{:index 342, :time 32760196667, :type :fail, :process 6, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 343, :time 32986496667, :type :invoke, :process 7, :f :cas, :value [4 2]}
{:index 344, :time 32989344834, :type :fail, :process 7, :f :cas, :value [4 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 345, :time 33168704417, :type :invoke, :process 8, :f :write, :value 3}
{:index 346, :time 33169849500, :type :fail, :process 8, :f :write, :value 3, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 347, :time 33321862125, :type :invoke, :process 9, :f :cas, :value [0 4]}
{:index 348, :time 33323494334, :type :fail, :process 9, :f :cas, :value [0 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 349, :time 33494914584, :type :info, :process 195, :f :cas, :value [3 1], :error :net-timeout}
{:index 350, :time 33579619750, :type :invoke, :process 0, :f :read, :value nil}
{:index 351, :time 33753608334, :type :invoke, :process 1, :f :read, :value nil}
{:index 352, :time 33755070917, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 353, :time 33864949250, :type :invoke, :process 1, :f :read, :value nil}
{:index 354, :time 33866418667, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 355, :time 34148656584, :type :invoke, :process 2, :f :read, :value nil}
{:index 356, :time 34149904584, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 357, :time 34208573209, :type :invoke, :process 205, :f :write, :value 1}
{:index 358, :time 34558806500, :type :invoke, :process 6, :f :cas, :value [0 4]}
{:index 359, :time 34560794084, :type :fail, :process 6, :f :cas, :value [0 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 360, :time 34579849709, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 361, :time 34805655959, :type :invoke, :process 6, :f :write, :value 4}
{:index 362, :time 34807372625, :type :fail, :process 6, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 363, :time 34949596417, :type :invoke, :process 6, :f :cas, :value [2 1]}
{:index 364, :time 34950981500, :type :fail, :process 6, :f :cas, :value [2 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 365, :time 35055189209, :type :invoke, :process 7, :f :write, :value 4}
{:index 366, :time 35057263709, :type :fail, :process 7, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 367, :time 35211678500, :type :info, :process 205, :f :write, :value 1, :error :net-timeout}
{:index 368, :time 35250284417, :type :invoke, :process 0, :f :read, :value nil}
{:index 369, :time 35296819209, :type :invoke, :process 9, :f :write, :value 4}
{:index 370, :time 35298006459, :type :fail, :process 9, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 371, :time 35591493084, :type :invoke, :process 1, :f :read, :value nil}
{:index 372, :time 35593357125, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 373, :time 35955348042, :type :invoke, :process 215, :f :write, :value 4}
{:index 374, :time 36006377959, :type :invoke, :process 6, :f :cas, :value [4 3]}
{:index 375, :time 36007799625, :type :fail, :process 6, :f :cas, :value [4 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 376, :time 36201642875, :type :invoke, :process 6, :f :write, :value 3}
{:index 377, :time 36203223625, :type :fail, :process 6, :f :write, :value 3, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 378, :time 36251611375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 379, :time 36265637625, :type :invoke, :process 3, :f :read, :value nil}
{:index 380, :time 36266677542, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 381, :time 36327909417, :type :invoke, :process 6, :f :cas, :value [0 3]}
{:index 382, :time 36329024875, :type :fail, :process 6, :f :cas, :value [0 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 383, :time 36551874209, :type :invoke, :process 6, :f :cas, :value [4 3]}
{:index 384, :time 36553371875, :type :fail, :process 6, :f :cas, :value [4 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 385, :time 36946097750, :type :invoke, :process 0, :f :read, :value nil}
{:index 386, :time 36960513292, :type :info, :process 215, :f :write, :value 4, :error :net-timeout}
{:index 395, :time 37946768167, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
