{:index 0, :time 10086584, :type :invoke, :process 5, :f :write, :value 3}
{:index 1, :time 252144750, :type :invoke, :process 1, :f :read, :value nil}
{:index 2, :time 262027959, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 3, :time 317833875, :type :invoke, :process 2, :f :read, :value nil}
{:index 4, :time 320395625, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 5, :time 657554667, :type :invoke, :process 3, :f :read, :value nil}
{:index 6, :time 660452042, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 7, :time 834662625, :type :invoke, :process 4, :f :read, :value nil}
{:index 8, :time 838346042, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 9, :time 854083834, :type :invoke, :process 6, :f :write, :value 1}
{:index 10, :time 855997709, :type :fail, :process 6, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 11, :time 871672459, :type :invoke, :process 0, :f :read, :value nil}
{:index 12, :time 1020164209, :type :info, :process 5, :f :write, :value 3, :error :net-timeout}
{:index 13, :time 1085853125, :type :invoke, :process 7, :f :cas, :value [1 0]}
{:index 14, :time 1089343000, :type :fail, :process 7, :f :cas, :value [1 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 15, :time 1335544584, :type :invoke, :process 8, :f :cas, :value [1 1]}
{:index 16, :time 1337409334, :type :fail, :process 8, :f :cas, :value [1 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 17, :time 1558521750, :type :invoke, :process 9, :f :cas, :value [2 1]}
{:index 18, :time 1564518875, :type :fail, :process 9, :f :cas, :value [2 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 19, :time 1794744667, :type :invoke, :process 15, :f :write, :value 1}
{:index 20, :time 1876265000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 21, :time 1946212375, :type :invoke, :process 6, :f :cas, :value [1 1]}
{:index 22, :time 1949263084, :type :fail, :process 6, :f :cas, :value [1 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 23, :time 2207975500, :type :invoke, :process 6, :f :cas, :value [1 0]}
{:index 24, :time 2214109709, :type :fail, :process 6, :f :cas, :value [1 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 25, :time 2304389834, :type :invoke, :process 2, :f :read, :value nil}
{:index 26, :time 2306207125, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 27, :time 2521378334, :type :invoke, :process 6, :f :cas, :value [3 0]}
{:index 28, :time 2523864084, :type :fail, :process 6, :f :cas, :value [3 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 29, :time 2703040000, :type :invoke, :process 4, :f :read, :value nil}
{:index 30, :time 2705362167, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 31, :time 2795864959, :type :info, :process 15, :f :write, :value 1, :error :net-timeout}
{:index 32, :time 3038466667, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 3180884834, :type :invoke, :process 1, :f :read, :value nil}
{:index 34, :time 3184523917, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 35, :time 3219482959, :type :invoke, :process 7, :f :write, :value 4}
{:index 36, :time 3221394875, :type :fail, :process 7, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 37, :time 3586861584, :type :invoke, :process 1, :f :read, :value nil}
{:index 38, :time 3589725875, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 39, :time 3614588542, :type :invoke, :process 1, :f :read, :value nil}
{:index 40, :time 3616917500, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 41, :time 3779652875, :type :invoke, :process 1, :f :read, :value nil}
{:index 42, :time 3782150667, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 43, :time 3883721625, :type :invoke, :process 1, :f :read, :value nil}
{:index 44, :time 3885820750, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 45, :time 4040928459, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 46, :time 4079635417, :type :invoke, :process 1, :f :read, :value nil}
{:index 47, :time 4081468000, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 48, :time 4343929417, :type :invoke, :process 2, :f :read, :value nil}
{:index 49, :time 4346280042, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 50, :time 4385407834, :type :invoke, :process 25, :f :write, :value 1}
{:index 51, :time 4391761667, :type :invoke, :process 6, :f :cas, :value [3 0]}
{:index 52, :time 4394619000, :type :fail, :process 6, :f :cas, :value [3 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 53, :time 4449140959, :type :invoke, :process 0, :f :read, :value nil}
{:index 54, :time 4482612334, :type :invoke, :process 1, :f :read, :value nil}
{:index 55, :time 4483980459, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 56, :time 4815378875, :type :invoke, :process 1, :f :read, :value nil}
{:index 57, :time 4817234167, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 58, :time 5030375667, :type :invoke, :process 8, :f :cas, :value [4 1]}
{:index 59, :time 5032360500, :type :fail, :process 8, :f :cas, :value [4 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 60, :time 5136834750, :type :invoke, :process 1, :f :read, :value nil}
{:index 61, :time 5147786584, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 62, :time 5179622250, :type :invoke, :process 1, :f :read, :value nil}
{:index 63, :time 5181046625, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 64, :time 5248684792, :type :invoke, :process 6, :f :write, :value 4}
{:index 65, :time 5250150292, :type :fail, :process 6, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 66, :time 5391023417, :type :info, :process 25, :f :write, :value 1, :error :net-timeout}
{:index 67, :time 5435644709, :type :invoke, :process 35, :f :write, :value 2}
{:index 68, :time 5453859792, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 69, :time 5787973500, :type :invoke, :process 2, :f :read, :value nil}
{:index 70, :time 5794967750, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 71, :time 5847042417, :type :invoke, :process 6, :f :cas, :value [0 0]}
{:index 72, :time 5848918375, :type :fail, :process 6, :f :cas, :value [0 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 73, :time 5905452167, :type :invoke, :process 4, :f :read, :value nil}
{:index 74, :time 5907004334, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 75, :time 5923854375, :type :invoke, :process 6, :f :write, :value 2}
{:index 76, :time 5925243042, :type :fail, :process 6, :f :write, :value 2, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 77, :time 6326319250, :type :invoke, :process 0, :f :read, :value nil}
{:index 78, :time 6333283959, :type :invoke, :process 7, :f :cas, :value [3 2]}
{:index 79, :time 6336916042, :type :fail, :process 7, :f :cas, :value [3 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 80, :time 6440474875, :type :info, :process 35, :f :write, :value 2, :error :net-timeout}
{:index 81, :time 6729486709, :type :invoke, :process 1, :f :read, :value nil}
{:index 82, :time 6731157875, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 83, :time 7098171459, :type :invoke, :process 1, :f :read, :value nil}
{:index 84, :time 7100292834, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 85, :time 7331379709, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 86, :time 7355879667, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 7623680625, :type :invoke, :process 1, :f :read, :value nil}
{:index 88, :time 7625719084, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 89, :time 7971178250, :type :invoke, :process 45, :f :cas, :value [4 4]}
{:index 90, :time 8033665042, :type :invoke, :process 2, :f :read, :value nil}
{:index 91, :time 8035301750, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 92, :time 8156026709, :type :invoke, :process 6, :f :cas, :value [4 1]}
{:index 93, :time 8158230500, :type :fail, :process 6, :f :cas, :value [4 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 94, :time 8280099792, :type :invoke, :process 6, :f :cas, :value [4 1]}
{:index 95, :time 8282409209, :type :fail, :process 6, :f :cas, :value [4 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 96, :time 8297154209, :type :invoke, :process 6, :f :cas, :value [0 4]}
{:index 97, :time 8298929584, :type :fail, :process 6, :f :cas, :value [0 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 98, :time 8350588667, :type :invoke, :process 6, :f :write, :value 0}
{:index 99, :time 8352574625, :type :fail, :process 6, :f :write, :value 0, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 100, :time 8361111625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 101, :time 8425773500, :type :invoke, :process 7, :f :write, :value 1}
{:index 102, :time 8427282875, :type :fail, :process 7, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 103, :time 8824392542, :type :invoke, :process 8, :f :cas, :value [0 3]}
{:index 104, :time 8825897750, :type :fail, :process 8, :f :cas, :value [0 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 105, :time 8978838917, :type :info, :process 45, :f :cas, :value [4 4], :error :net-timeout}
{:index 106, :time 9057637709, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 9093442209, :type :invoke, :process 55, :f :cas, :value [1 1]}
{:index 108, :time 9377349334, :type :invoke, :process 6, :f :cas, :value [2 2]}
{:index 109, :time 9379460542, :type :fail, :process 6, :f :cas, :value [2 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 110, :time 9705166042, :type :invoke, :process 6, :f :cas, :value [0 3]}
{:index 111, :time 9706755417, :type :fail, :process 6, :f :cas, :value [0 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 112, :time 9739552125, :type :invoke, :process 6, :f :cas, :value [2 4]}
{:index 113, :time 9741300292, :type :fail, :process 6, :f :cas, :value [2 4], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 114, :time 10061953209, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 115, :time 10095814084, :type :info, :process 55, :f :cas, :value [1 1], :error :net-timeout}
{:index 116, :time 10117772000, :type :invoke, :process 65, :f :cas, :value [4 1]}
{:index 117, :time 10355131542, :type :invoke, :process 4, :f :read, :value nil}
{:index 118, :time 10357695625, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 119, :time 10614176250, :type :invoke, :process 0, :f :read, :value nil}
{:index 120, :time 10904967542, :type :invoke, :process 6, :f :write, :value 3}
{:index 121, :time 10906767084, :type :fail, :process 6, :f :write, :value 3, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 122, :time 11143012625, :type :info, :process 65, :f :cas, :value [4 1], :error :net-timeout}
{:index 123, :time 11304000750, :type :invoke, :process 1, :f :read, :value nil}
{:index 124, :time 11318983500, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 125, :time 11345105417, :type :invoke, :process 8, :f :write, :value 0}
{:index 126, :time 11356743917, :type :fail, :process 8, :f :write, :value 0, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 127, :time 11505218292, :type :invoke, :process 9, :f :write, :value 4}
{:index 128, :time 11531861709, :type :fail, :process 9, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 129, :time 11576145500, :type :invoke, :process 1, :f :read, :value nil}
{:index 130, :time 11589235917, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 131, :time 11589676000, :type :invoke, :process 1, :f :read, :value nil}
{:index 132, :time 11623368334, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 133, :time 11626976459, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 134, :time 11729548750, :type :invoke, :process 75, :f :cas, :value [2 2]}
{:index 135, :time 12020790292, :type :invoke, :process 6, :f :write, :value 4}
{:index 136, :time 12024176417, :type :fail, :process 6, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 137, :time 12331243959, :type :invoke, :process 3, :f :read, :value nil}
{:index 138, :time 12335887459, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 139, :time 12627996584, :type :invoke, :process 6, :f :cas, :value [2 1]}
{:index 140, :time 12629725167, :type :fail, :process 6, :f :cas, :value [2 1], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 141, :time 12736399292, :type :info, :process 75, :f :cas, :value [2 2], :error :net-timeout}
{:index 142, :time 12845529875, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 13089637750, :type :invoke, :process 6, :f :cas, :value [0 2]}
{:index 144, :time 13091291000, :type :fail, :process 6, :f :cas, :value [0 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 145, :time 13134476084, :type :invoke, :process 7, :f :cas, :value [4 3]}
{:index 146, :time 13137046750, :type :fail, :process 7, :f :cas, :value [4 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 147, :time 13510142667, :type :invoke, :process 1, :f :read, :value nil}
{:index 148, :time 13511737209, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 149, :time 13520074667, :type :invoke, :process 9, :f :cas, :value [3 3]}
{:index 150, :time 13521198625, :type :fail, :process 9, :f :cas, :value [3 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 151, :time 13779871959, :type :invoke, :process 1, :f :read, :value nil}
{:index 152, :time 13781409750, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 153, :time 13848934709, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 154, :time 14107656292, :type :invoke, :process 0, :f :read, :value nil}
{:index 155, :time 14314458375, :type :invoke, :process 85, :f :cas, :value [2 0]}
{:index 156, :time 14457834500, :type :invoke, :process 6, :f :write, :value 3}
{:index 157, :time 14463918167, :type :fail, :process 6, :f :write, :value 3, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 158, :time 14715190125, :type :invoke, :process 3, :f :read, :value nil}
{:index 159, :time 14716471084, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 160, :time 14724526084, :type :invoke, :process 6, :f :cas, :value [4 3]}
{:index 161, :time 14725974834, :type :fail, :process 6, :f :cas, :value [4 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 162, :time 15020617292, :type :invoke, :process 6, :f :write, :value 0}
{:index 163, :time 15022900917, :type :fail, :process 6, :f :write, :value 0, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 164, :time 15111733375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 165, :time 15199753709, :type :invoke, :process 0, :f :read, :value nil}
{:index 166, :time 15319693625, :type :info, :process 85, :f :cas, :value [2 0], :error :net-timeout}
{:index 167, :time 15528935250, :type :invoke, :process 7, :f :write, :value 1}
{:index 168, :time 15530942959, :type :fail, :process 7, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 169, :time 15823122584, :type :invoke, :process 1, :f :read, :value nil}
{:index 170, :time 15824813709, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 171, :time 15852014625, :type :invoke, :process 1, :f :read, :value nil}
{:index 172, :time 15853670875, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 173, :time 16013269792, :type :invoke, :process 95, :f :write, :value 3}
{:index 174, :time 16202844167, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 175, :time 16323601917, :type :invoke, :process 0, :f :read, :value nil}
{:index 176, :time 16609375375, :type :invoke, :process 1, :f :read, :value nil}
{:index 177, :time 16611010584, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 178, :time 16621801709, :type :invoke, :process 6, :f :write, :value 1}
{:index 179, :time 16623539500, :type :fail, :process 6, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 180, :time 16691096792, :type :invoke, :process 6, :f :write, :value 0}
{:index 181, :time 16692375417, :type :fail, :process 6, :f :write, :value 0, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 182, :time 16801023667, :type :invoke, :process 4, :f :read, :value nil}
{:index 183, :time 16802717125, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 184, :time 16906848209, :type :invoke, :process 1, :f :read, :value nil}
{:index 185, :time 16908845125, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 186, :time 17017004500, :type :info, :process 95, :f :write, :value 3, :error :net-timeout}
{:index 187, :time 17175982709, :type :invoke, :process 1, :f :read, :value nil}
{:index 188, :time 17178367084, :type :invoke, :process 7, :f :cas, :value [0 0]}
{:index 189, :time 17189008209, :type :fail, :process 7, :f :cas, :value [0 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 190, :time 17190107209, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 191, :time 17221042792, :type :invoke, :process 1, :f :read, :value nil}
{:index 192, :time 17222517875, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 193, :time 17329066834, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 194, :time 17333592667, :type :invoke, :process 9, :f :cas, :value [2 0]}
{:index 195, :time 17334677584, :type :fail, :process 9, :f :cas, :value [2 0], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 196, :time 17574289500, :type :invoke, :process 0, :f :read, :value nil}
{:index 197, :time 17882076875, :type :invoke, :process 1, :f :read, :value nil}
{:index 198, :time 17883633250, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 199, :time 17955378084, :type :invoke, :process 105, :f :cas, :value [2 4]}
{:index 200, :time 18169628875, :type :invoke, :process 2, :f :read, :value nil}
{:index 201, :time 18170997667, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 202, :time 18550571792, :type :invoke, :process 3, :f :read, :value nil}
{:index 203, :time 18551934542, :type :fail, :process 3, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 204, :time 18579107625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 205, :time 18954126667, :type :invoke, :process 4, :f :read, :value nil}
{:index 206, :time 18958163209, :type :info, :process 105, :f :cas, :value [2 4], :error :net-timeout}
{:index 207, :time 18959074750, :type :fail, :process 4, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
