{:index 591, :time 58261484500, :type :invoke, :process 335, :f :write, :value 2}
{:index 592, :time 58301095459, :type :invoke, :process 1, :f :read, :value nil}
{:index 593, :time 58302369459, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 595, :time 58589146209, :type :invoke, :process 6, :f :cas, :value [4 2]}
{:index 596, :time 58590937917, :type :fail, :process 6, :f :cas, :value [4 2], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 597, :time 58743113334, :type :invoke, :process 2, :f :read, :value nil}
{:index 598, :time 58744389584, :type :fail, :process 2, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 599, :time 59071551792, :type :invoke, :process 6, :f :write, :value 3}
{:index 600, :time 59075408042, :type :fail, :process 6, :f :write, :value 3, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 601, :time 59100311250, :type :invoke, :process 6, :f :write, :value 4}
{:index 602, :time 59103503375, :type :fail, :process 6, :f :write, :value 4, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 603, :time 59163295042, :type :invoke, :process 6, :f :cas, :value [1 3]}
{:index 604, :time 59164551334, :type :fail, :process 6, :f :cas, :value [1 3], :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 605, :time 59168883250, :type :invoke, :process 0, :f :read, :value nil}
{:index 606, :time 59262036375, :type :info, :process 335, :f :write, :value 2, :error :net-timeout}
{:index 607, :time 59567815834, :type :invoke, :process 7, :f :write, :value 1}
{:index 608, :time 59568936459, :type :fail, :process 7, :f :write, :value 1, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 609, :time 59661852292, :type :invoke, :process 1, :f :read, :value nil}
{:index 610, :time 59662927417, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 611, :time 59801173334, :type :invoke, :process 1, :f :read, :value nil}
{:index 612, :time 59802425792, :type :fail, :process 1, :f :read, :value nil, :error [:temporarily-unavailable "temporarily-unavailable"]}
{:index 613, :time 59996118334, :type :invoke, :process 345, :f :cas, :value [1 3]}
{:index 614, :time 60168876917, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 615, :time 60998970667, :type :info, :process 345, :f :cas, :value [1 3], :error :net-timeout}
