# Copyright 2023-2025 The Oxia Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAELSTROM_VERSION: "0.2.3"

jobs:

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25
          go-version-file: 'go.work'
          cache: 'true'
          cache-dependency-path: "go.work.sum"

      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Installing Go dependencies
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2
          go install github.com/palantir/go-license@latest
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.6.2

      - run: make license-check

      - name: Build
        run: make build

      - name: golangci-lint
        run: make lint

      - name: Check git status if clean
        run: |
          # refresh index / status
          git status
          echo "## Checking for cleanliness..."
          git diff --quiet || { echo "Repository has unstaged changes"; git --no-pager diff; exit 1; }
          git diff --cached --quiet || { echo "Repository has staged but uncommitted changes"; git --no-pager diff --cached; exit 1; }
          echo "Repository is clean"

      - name: Test
        run: make test

  chaos-mesh:
    name: Run chaos-mesh
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:latest
            network=host
      - name: Build docker
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false
          load: true
          tags: oxia:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.0
        with:
          image-ref: 'oxia:latest'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'LOW,MEDIUM,HIGH,CRITICAL'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'

      - uses: helm/kind-action@v1.5.0
        with:
          cluster_name: kind
          kubectl_version: v1.25.5
      - name: Clone oxia helm charts
        run: |
          git clone https://github.com/oxia-db/helm-charts.git
      - name: Deploy oxia
        run: |
          kubectl create namespace oxia
          kind load docker-image oxia:latest
          helm -n oxia install oxia \
            -f deploy/chaos-mesh/oxia-cluster.yaml \
            ./helm-charts/charts/oxia-cluster
          sleep 30
          kubectl -n oxia run perf \
            --image=oxia:latest --image-pull-policy=Never \
            --command -- oxia perf -a oxia:6648
      - name: Encode chaos-mesh config
        run: echo "CFG_BASE64=$(base64 -w0 deploy/chaos-mesh/chaos-mesh.yaml)" >> $GITHUB_ENV
      - name: Run chaos-mesh
        uses: chaos-mesh/chaos-mesh-action@master # v0.5 is broken
        env:
          CHAOS_MESH_VERSION: v2.5.1
          # CFG_BASE64: set by previous step
      - name: Wait for workflow completion
        run: sleep 120
      - name: Print pods
        run: kubectl -n oxia get pods
      - name: Print coordinator logs
        run: kubectl -n oxia logs -l app.kubernetes.io/component=coordinator
      - name: Print perf logs
        run: kubectl -n oxia logs perf

  maelstrom:
    name: Maelstrom
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.work'
          cache: 'true'
          cache-dependency-path: "go.work.sum"

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Install Gnuplot
        run: |
          sudo apt-get update && sudo apt-get install -y gnuplot

      - run: make
      - run: make maelstrom

      - name: Download Maelstrom
        run: |
          curl -O -L https://github.com/jepsen-io/maelstrom/releases/download/v${MAELSTROM_VERSION}/maelstrom.tar.bz2
          tar xf maelstrom.tar.bz2

      - name: Run Maelstrom test
        run: |
          cd maelstrom
          ./maelstrom test -w lin-kv  --bin ../bin/oxia-maelstrom \
                --time-limit 60  --concurrency 2n  --latency 10 --latency-dist uniform

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maelstrom-result
          path: maelstrom/store
